# Join and preprocess multiple time series data

## Load data

In [5]:
import pandas as pd

path = '../../data/FRED/CORESTICKM159SFRBATL.csv'
df1 = pd.read_csv(path, index_col=0, parse_dates=True)

path = '../../data/FRED/UNRATE.csv'
df2 = pd.read_csv(path, index_col=0, parse_dates=True)

path = '../../data/FRED/FEDFUNDS.csv'
df3 = pd.read_csv(path, index_col=0, parse_dates=True)

path = '../../data/FRED/T10YIE.csv'
df4 = pd.read_csv(path, index_col=0, parse_dates=True)

## Join data

### Inner join

                  CORESTICKM159SFRBATL  UNRATE  FEDFUNDS  T10YIE
observation_date
2020-05-01                    2.000025    13.2      0.05    1.06
2020-06-01                    1.998261    11.0      0.08    1.18
...                                ...     ...       ...     ...
2024-11-01                    3.876177     4.2      4.64    2.33
2025-01-01                    3.625276     4.0      4.33     NaN

[43 rows x 4 columns]

In [3]:

import plotly.io as pio
pio.templates.default = "plotly_dark"

pio.templates["plotly_dark"].layout.update(
    width=1000,
    height=500,
    showlegend=False,
    autosize=False,
    hovermode="x unified"
)

pd.options.plotting.backend = "plotly"

In [ ]:
df.plot()

In [ ]:
df1.loc['2025']

In [ ]:
df2.loc['2025']

In [ ]:
df3.loc['2025']

In [ ]:
df4.loc['2025'].style.format(precision=2)

### Outer join

In [8]:
df = pd.concat([df1, df2, df3, df4], axis=1, join='outer', sort=True)
df

                  CORESTICKM159SFRBATL  UNRATE  FEDFUNDS  T10YIE
observation_date
1948-01-01                         NaN     3.4       NaN     NaN
1948-02-01                         NaN     3.8       NaN     NaN
...                                ...     ...       ...     ...
2025-04-10                         NaN     NaN       NaN    2.19
2025-04-11                         NaN     NaN       NaN    2.20

[2189 rows x 4 columns]

In [ ]:
df.loc['2025'].style.format(precision=2)

In [ ]:
df.plot()

## Interpolate missing values

                  CORESTICKM159SFRBATL  UNRATE  FEDFUNDS  T10YIE
observation_date
1948-01-01                         NaN     3.4       NaN     NaN
1948-02-01                         NaN     3.8       NaN     NaN
...                                ...     ...       ...     ...
2025-04-10                    3.257815     4.2      4.33    2.19
2025-04-11                    3.257815     4.2      4.33    2.20

[2189 rows x 4 columns]

In [ ]:
df.plot()

## Export data

In [14]:
path = '../../data/FRED/FRED_joined.parquet'